@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*===NAVBAR===*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px 30px;
    border-bottom: .5px solid #333;
}

.logo img{
    height: 60px;
}

.links a{
    padding: 0 10px;
    color: black;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    transition: all 0.3s ease;
    gap: 6px;
    opacity: .9;
}

.menu-icon .bar {
   position: relative;
   width: 35px;
   height: 3px;
   background-color: #080b0e;
   border-radius: 10px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    font-family: "Quicksand", sans-serif;
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    display: none;
    border-bottom: .5px solid rgb(33, 32, 32);
    z-index: 5;
}

.nav-grid{
    display: grid;
    align-content: start;
    align-items: center;
    padding: 10px 30px;
    width: 33.3%;
}

.nav-grid a{
    text-decoration: none;
    color: #000;
    transition: .4s ease;
}

.nav-grid a:hover{
    color: #ff0000d2;
}

.span-grid{
    font-weight: 500;
    opacity: .7;
    margin-top: 15px;
    padding: 7px;
}

.productos-grid, .about-grid, .contacto-grid{
    font-weight: 300;
    padding: 8px;
    font-size: 21px;
}

.nav-grid img{
    height: 350px;
    width: 270px;
}

.title-grid{
    font-family: 'Panchang', sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.menu.show {
    display: flex;
}

.menu-icon .bar:nth-child(1){
    top: 0;
    transform: rotate(0);
    transition: top 0.2s ease, transform 0.4s ease;
}

.menu-icon .bar:nth-child(2){
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease;
}

.menu-icon .bar:nth-child(3){
    top: 0;
    transform: rotate(0);
    transition: top 0.2s ease, transform 0.4s ease;
}

.menu-icon.change .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 19px;
}

.menu-icon.change .bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.menu-icon.change .bar:nth-child(3) {
    transform: rotate(-45deg) ;
    top: 1px;
}

/*===GLASSES===*/

.glass{
    width: 100%;
    margin: 10px 0px;
}

.glass-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dark-glass, .optical-glass {
    width: calc(50% - 7px);
    position: relative;
    overflow: hidden;
}

.dark-glass img, .optical-glass img {
    width: 100%;
    height: 700px;
    transition: .4s ease;
    object-fit: cover;
}

.dark-glass img:hover, .optical-glass img:hover{
    transform: scale(1.2);
}

.dark-glass {
    margin-right: 10px; 
}

.sunglass, .optical {
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Panchang', sans-serif;
    font-size: 40px;
    transition: .4s ease;
}

.sunglass:hover, .optical:hover{
    color: black;
}

/*===COLECCIONES===*/

.col-md-6{
    padding: 0px 7px;
}

.honour-img img, .glassluca img{
    width: 100%;
    height: 900px;
    object-fit: cover;
}


.honour-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-coleccion{
    margin-bottom: 30px;
    font-family: 'Panchang', sans-serif;
    font-size: 45px;
}

.container-fluid{
    padding: 0;
    overflow: hidden;
}

.honour-container img{
    width: 420px;
    height: 320px;
}

.btn-coleccion{
    margin-top: 30px;
    border: .5px solid black;
    outline: none;
    height: 80px;
    width: 270px;
    background: #ffffff;
    color: #000;
    transition: .3s ease;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
    transition: .7s ease;
}

.btn-coleccion:hover{
    background: #080b0e;
    color: #ffffff;
}

.lucacontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lucacontainer img{
    width: 420px;
    height: 320px;
}

.tech-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech-title{
    margin: 30px 30px;
    padding: 0 30px;
}

.tech-info{
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 22px;
    margin: 0 30px;
    padding: 0 30px;
}

/*===FOOTER===*/

.footer{
    width: 100%;
    height: 450px;
    margin-top: 10px;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.foot-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.foot-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    width:  100%;
    height: 400px;
    row-gap: 30px;
}

.vertical{
    max-width: 5%;
   width: 1px;
   height: 350px;
   background: #ffffff;
   opacity: .5;
}

.foot-line{
    width: 100%;
    height: 10px;
    padding: 0 30px;
}

.line{
    height: 1px;
    width: 100%;
    background: #ffffff;
    opacity: .4;
}

.newsletter {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px;
}

.title-new {
    text-align: center;
    font-size: 24px;
    font-family: 'Panchang', sans-serif;
    margin-bottom: 20px;
}

.foot-new {
    display: flex;
    flex-direction: column;
}

.foot-new label {
    margin-bottom: 5px;
    font-weight: bold;
    font-family:  "Quicksand", sans-serif;
}

.foot-new input {
    margin-bottom: 15px;
    padding: 10px;
    background:#000;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
}

.foot-new button {
    padding: 10px;
    background-color: #ff0000d2;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-family:  "Quicksand", sans-serif;
    font-weight: 200;
    font-size: 18px;
    transition: .4s ease;
}

.foot-new button:hover {
    background-color: #ffffff;
    color: #000;
}

.foot-logo img{
    height: 80px;
    background: #000000;
    opacity: .8;
}

.foot-social{
    display: flex;
    width: 100px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.foot-social a{
   font-size: 35px;
   padding: 5px;
   text-decoration: none;
   color: #ffffff;
   opacity: .8;
}

.foot-copy{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*===CONTACTO===*/
.contact-container{
    margin-top: 10px ;
}

.contact-data, .contact-img{
    padding: 0;
}

.contact-data{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.contac-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.contac-form label{
    display: flex;
    align-items: flex-start;
    font-family:  "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.contac-form input{
    background: #000000;
    border: none;
    outline: none;
    border-bottom: 1px solid #ff0000d2 ;
    opacity: .7;
    color: #ffffff;
    padding-bottom: 5px;
}

.contac-form textarea{
    background: #000000;
    border: none;
    outline: none;
    border-bottom: 1px solid #ff0000d2;
    opacity: .7;
    resize: none;
    color: #ffffff;
}

.contac-form button{
    margin-top: 13px;
    padding: 10px;
    background-color: #ff0000d2;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-family:  "Quicksand", sans-serif;
    font-weight: 200;
    font-size: 18px;
    transition: .4s ease;
}

.contac-form button:hover {
    background-color: #ffffff;
    color: #000;
}



